# Entornos virtuales y cachés de Python
api_python/.venv/
api_python/__pycache__/
api_python/*.pyc

# Cachés locales
public/uploads/ticker_cache.json

# Archivos subidos por los usuarios (Mantenemos la carpeta pero ignoramos su contenido)
public/uploads/*
!public/uploads/default_obra.png

# Archivos de Sistema Operativo
.DS_Store
Thumbs.db

# Credenciales (si en el futuro añades un .env)
.env