# Ignorar las imágenes subidas por los usuarios
public/uploads/*
!public/uploads/.gitkeep

# Ignorar archivos del sistema operativo
.DS_Store
Thumbs.db

# Ignorar el entorno virtual de Python y archivos temporales
api_python/.venv/
api_python/__pycache__/
*.pyc